a{
  text-decoration: none;
  color: black;
}
a:hover{
    color: red;
}
a:active{
  color: red:
}
a:visited{
  color: black;
}
body{
  background-color: white;
  color: coral;
  /* font-family: Arial, Helvetivca, sans-serif;
  font-size: 20px;
  font-weight: normal; */
  font: normal 20px Arial;
  line-height: 1.6em;
}
.container{
  width: 80%;
}
.button{
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
}
.button:hover{
  background: blue;
  color black;
}
.box-1{
  background-color: blue;
  color: #fff;
  border: 5px red solid;
  border-width: 3px;
  border-top: 10px red solid;
  border-top-style: dotted;


  padding: 20px;
  margin: 20px;
}
.clr{
  clear: both;
}
.box-1 h1{
  font-family: tahoma ;
  font-weight: 1000;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;

}
.box-2{
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px;
}
.catagories{
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}
.catagories h3{
  text-align: center;
}
.catagories ul{
  padding: 20px;

}
.catagories li{

  padding-bottom: 0;
  border-bottom: dotted 1px #333;
  list-style-image: url('images.duckduckgo.com.jpeg');
}

.my-form{
  padding: 20px;
}
.my-form. form-group{
  padding-bottom: 155px:
}
.my-form label{
  display: block;
}
.my-form input[type="text"]{
  padding: 8px;
  width: 100%
}
.block{
  float: left;
  width: 32.8%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
#main-block{
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}
#sidebar{
  float: right;
  width: 30%;
  background-color: black;
  padding: 15px;
  box-sizing: border-box;
}
